/* App.css */
body, #root {
  height: 100%;
  margin: 0;
}

.App {
  position: relative; /* Ensure App is the positioning context */
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden; /* Hide any overflow */
}

/* Set the particles to fill the entire background */
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensure particles are behind other components */
}

.Header, .JobMatch {
  position: relative; /* Position above the particles */
  z-index: 1; /* Ensure they appear above the background */
}
